.react-chatbot-kit-chat-inner-container {
  background-color: #191919;
  border: 2px solid rgb(58, 58, 58);
}

.react-chatbot-kit-chat-input {
  background-color: #222;
  color: rgb(218, 218, 218);
}

.react-chatbot-kit-chat-input::placeholder {
  color: #d8d8d89e;
}
