.chatbotHeader {
  display: flex;
  margin-left: 10px;
  border-bottom: #d8d8d8 solid 1px;
  width: 90%;
  text-align: right;
  white-space: nowrap;
}

.compressChatBtn {
  flex: 50%;
  text-align: right;
}
