@font-face {
  font-family: 'Kiota';
  src: url(./fonts/Kiona-Regular.ttf);
}
@font-face {
  font-family: 'Kiota-Itallic';
  src: url(./fonts/Kiona-Itallic.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'Kiota' !important;
}

label {
  color: rgb(218, 218, 218);
}

h1,
h2,
h3,
h4,
h5,
nav > li {
  color: rgb(218, 218, 218);
  font-family: 'Kiota' !important;
}

#root {
  height: 100%;
  background-color: #222;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.circularProgress {
  margin: 5px;
}

.instructionFocusable {
  transition: border, color, background-color 0.5s;
}

.linkButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.linkButton:hover {
  opacity: 0.8;
}

.linkButton:focus {
  opacity: 0.6;
}

.linkButton:hover,
.linkButton:focus {
  text-decoration: none;
  outline: none;
}

button,
button:focus,
span:focus,
input {
  text-decoration: none;
  outline: none !important;
}

.chatbotHeader {
  display: flex;
  margin-left: 10px;
  border-bottom: #d8d8d8 solid 1px;
  width: 90%;
  text-align: right;
  white-space: nowrap;
}

.compressChatBtn {
  flex: 50%;
  text-align: right;
}
