@font-face {
  font-family: 'Kiona-Itallic';
  src: url('https://firebasestorage.googleapis.com/v0/b/backend-movieslistv2.appspot.com/o/Static%2FKiona-Itallic.ttf?alt=media&token=aae0ac8e-0df2-4498-9855-54259d98115a');
  font-display: swap;
}

@font-face {
  font-family: 'Kiona';
  src: url('https://firebasestorage.googleapis.com/v0/b/backend-movieslistv2.appspot.com/o/Static%2FKiona-Regular.ttf?alt=media&token=00cf06df-b650-4fa7-8d3d-865eb3776173');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'Kiona' !important;
}

label {
  color: rgb(218, 218, 218);
}

h1,
h2,
h3,
h4,
h5,
nav > li {
  color: rgb(218, 218, 218);
  font-family: 'Kiona' !important;
}

#root {
  height: 100%;
  background-color: #222;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.circularProgress {
  margin: 5px;
}

.instructionFocusable {
  transition: border, color, background-color 0.5s;
}

.linkButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.linkButton:hover {
  opacity: 0.8;
}

.linkButton:focus {
  opacity: 0.6;
}

.linkButton:hover,
.linkButton:focus {
  text-decoration: none;
  outline: none;
}

button,
button:focus,
span:focus,
input {
  text-decoration: none;
  outline: none !important;
}

.chatbotHeader {
  display: flex;
  margin-left: 10px;
  border-bottom: #d8d8d8 solid 1px;
  width: 90%;
  text-align: right;
  white-space: nowrap;
  color: #e6e6e6c4;
}

.compressChatBtn {
  flex: 50%;
  text-align: right;
}

/* Chatbot */
.react-chatbot-kit-chat-inner-container {
  background-color: #191919 !important;
  border: 2px solid rgb(58, 58, 58);
}

.react-chatbot-kit-chat-input {
  background-color: #222;
  color: rgb(218, 218, 218);
}

.react-chatbot-kit-chat-input::placeholder {
  color: #d8d8d89e;
}
